<h1>create user here</h1>
<%= form_with model: @user do |f| %>
  <p>
    <%= f.label :first_name%><br/> 
    <%= f.text_field :first_name %>
  
  </p>
  <p>
    <%= f.label :last_name %><br/> 
    <%= f.text_field :last_name %> 
  </p>
  <p>
    <%= f.label :phone_number %><br/> 
    <%= f.text_field :phone_number %> 
  
  </p>
     <p>
     <%= f.fields_for :address do |ff| %>
      <p> 
      <%= ff.label :address %><br/>
      <%= ff.text_field :address %>
      </p>
     <% end %>
     </p>
 
    <p>
     <%= f.fields_for :bank_accounts do |fff| %>
       <%#=#render 'bank_accounts_fields' , f: fff #ths is temp%>
      <p>
      <%= fff.label :account_number%><br/>
      <%= fff.text_field :account_number %>
      </p>
      <p>
      <%= fff.label :ifsc_code%><br/>
      <%= fff.text_field :ifsc_code%>
      </p>
      <p>
      <%= fff.label :branch_name%><br/>
      <%= fff.text_field :branch_name %>
      
      </p>
     
      <%#= fff.submit #this is a try for multiple account%>                            
      
     <% end %>
     
  <p>
  <%= f.submit %> 
  </p>
  
<% end %>
<%= link_to 'Return to users listing', users_path %>