<h1> showing the user details</h1>

<%# <p> <%= @user.bank_account.account_number %>
<%# <p> <%= @user.bank_account.ifsc_code %>
<%# <p> <%= @user.bank_account.branch_name %> 
<%# <p><%=@user.bank_accounts %>
<% @bank_account.each do |bank_account| %>
    
<p><strong>ACCOUNT NUMBER: &emsp;</strong><%=bank_account.account_number %></p>
<p><strong>IFSC CODE: &emsp; </strong><%=bank_account.ifsc_code%>
<p><strong>BRANCH NAME: &emsp; </strong><%=bank_account.branch_name%>

<% end %>

<p><strong>User Address: &emsp;</strong><%= @address.address %></p>
